@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --default: 221 17% 18%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 218 86% 54%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --default: 221 17% 18%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 218 86% 54%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


@layer base {
  body {
    @apply w-full h-full flex justify-center items-center bg-background dark:text-[#E2E8F0] text-[#1E293B]
  }
}

@layer components {
  /* page structure */
  /* navigation header feed engagement */
  .wrapper {
    @apply w-screen h-full max-w-fit xl:max-w-screen-xl
  }
  /* feed engagement */
  .pageWrapper {
    @apply lg:flex pt-5 
  }
  /* feed */
  .contentWrapper {
    @apply px-4 sm:px-5 xl:px-0 sm:ml-[110px] xl:ml-[230px] w-full sm:w-[700px]
  }
  .heading {
    @apply text-4xl font-bold
  }
  .subHeading {
    @apply font-semibold text-2xl mt-12
  }
  .text-color-text {
    @apply dark:text-[#94A3B8] text-[#4a515b]
  }
  .text-paragraph {
    @apply dark:text-[#94A3B8] text-[#4a515b] font-light
  }
  .text-link {
    @apply primary-text hover:underline underline-offset-4
  }
  .text-highlighted {
    @apply dark:text-[#E1E7EF] text-black font-normal sm:font-normal
  }
  .embeddedLinks {
    @apply font-medium hover:underline underline-offset-4
  }
  .primary-text {
    @apply dark:text-[#66AAF9] text-[#2570EE]
  }

  /* gradient text heading */
  .pink-text-bg-gradient {
    @apply bg-gradient-to-r from-[#fd81c1] to-[#bc80e7] py-1 bg-cover bg-clip-text text-transparent w-fit
  }
  .yellow-text-bg-gradient {
    @apply bg-gradient-to-r from-[#FF6D6E] to-[#ef3740] dark:from-[#fdfc81] dark:to-[#f3ffa8] py-1 bg-cover bg-clip-text text-transparent w-fit
  }
  .green-text-bg-gradient {
    @apply bg-gradient-to-r from-cyan-400 to-green-500 dark:from-[#80ffe9] dark:to-[#88ff9b] py-1 bg-cover bg-clip-text text-transparent w-fit
  }
  .blue-text-bg-gradient {
    @apply bg-gradient-to-r from-blue-500 to-[#9584ff] dark:from-[#9584ff] dark:to-[#87d1f1] py-1 bg-cover bg-clip-text text-transparent w-fit
  }
  .pg-text-bg-gradient {
    @apply bg-gradient-to-r from-[#d0b5fa] to-[#25ae9c] py-1 bg-cover bg-clip-text text-transparent w-fit
  }
  /* cutoms text sizes & styles */
  .text-3-half-xl {
    font-size: 33px;
    line-height: 38px;
  }
  .text-bg-pink-gradient {
    @apply bg-gradient-to-r from-[#fb75ab] to-[#f82e7f] dark:from-[#f98dd7] dark:to-[#f0639b] bg-cover bg-clip-text text-transparent w-fit
  }
  .text-bg-green-gradient {
    @apply bg-gradient-to-r from-[#4eda3e] to-[#30ab45] dark:from-[#6dd9c9] dark:to-[#38c750] bg-cover bg-clip-text text-transparent w-fit
  }
  .text-bg-sky-gradient {
    @apply bg-gradient-to-r from-[#31bfea] to-[#0d94bd] dark:from-[#83defa] dark:to-[#37b9e1] bg-cover bg-clip-text text-transparent w-fit
  }
  .text-bg-skytogreen-gradient {
    @apply bg-gradient-to-r from-[#0d94bd] to-[#4eda3e] dark:from-[#37b9e1] dark:to-[#6dd9c9] bg-cover bg-clip-text text-transparent w-fit
  }

  /* shadow spread */
  .glow-bg-primary {
    box-shadow: 0 0 18px 1px rgb(81, 161, 252);
  }
  .glow-bg-gold {
    box-shadow: 0 0 10px 1px rgb(240, 235, 90);
  }
  
  /* gradient shades */
  .cardTop-BottomGradient {
    @apply dark:bg-gradient-to-b dark:from-[#131A31] dark:to-[#1C2638] bg-gradient-to-b from-white to-[#f4f4f4]
  }
}

/* debugging border classes */
@layer components {
  .bred {
    @apply border-2 border-red-500
  }
  .bgreen {
    @apply border-2 border-green-500
  }
  .bblue {
    @apply border-2 border-blue-500
  }
  .byellow {
    @apply border-2 border-yellow-500
  }
  .bpurple {
    @apply border-2 border-purple-500
  }
  .bblack {
    @apply border-2 border-black
  }
  .bwhite {
    @apply border-2 border-white
  }
}